<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('demo') }}">Demo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item {{ app.request.get('_route') == 'demo_bootstrap' ? 'active' }}">
                    <a class="nav-link" href="{{ path('demo_bootstrap') }}">Bootstrap</a>
                </li>
                <li class="nav-item {{ app.request.get('_route') == 'demo_other_page' ? 'active' }}">
                    <a class="nav-link" href="{{ path('demo_other_page') }}">Other page</a>
                </li>
                <li class="nav-item {{ app.request.get('_route') == 'demo_full_video_background' ? 'active' }}">
                    <a class="nav-link" href="{{ path('demo_full_video_background') }}">Full Background</a>
                </li>
                <li class="nav-item {{ app.request.get('_route') == 'demo_images_gallery' ? 'active' }}">
                    <a class="nav-link" href="{{ path('demo_images_gallery') }}">Gallery</a>
                </li>
                <li class="nav-item {{ app.request.get('_route') == 'demo_paralax' ? 'active' }}">
                    <a class="nav-link" href="{{ path('demo_paralax') }}">Paralax</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
