<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('bootstrap') }}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body {% block body_attribute %}{% endblock %}>
        {% include 'menu.html.twig' %}
        <main role="main">
            {% block main %}{% endblock %}
        </main>
        {% include 'footer.html.twig' %}
        {% block javascripts %}
            {{ encore_entry_script_tags('bootstrap') }}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
